<!-- templates/onboarding/saving-goal.html -->
{% extends 'base.html' %}

{% block title %}Onboarding{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <div class="card-title">
      <!-- TODO: Need to make a first and last name! -->
      <h2>Link Your Savings Account<h2>
    </div>
    <div class="card-text">
      <p>Securly link your primary savings account so that SaverLife can reward you for saving. We will nudge you to save based on the activity in this account.</p>
      <div class="container-fluid pt-5 pb-5 bg-primary">
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-secondary">Link (non-functional)</button>
        </div>
      </div>
      {% include 'onboarding/navbar.html' with next=next prev=prev %} 
    </div>
  </div>
</div>


{% endblock %}



