{% load static %}

<nav aria-label="Onboarding navigation">
  <ul class="pagination justify-content-center">
    {% if prev %}
    <li class="page-item"><a class="page-link" href="{% url prev %}">Previous</a></li>
    {% endif %}
    {% if next %}
    <li class="page-item"><a class="page-link" href="{% url next %}">Next</a></li>
    {% endif %}
  </ul>
</nav>


<div class="d-flex justify-content-center">
  <div class="btn-group-vertical">
    <a class="btn btn-secondary" href="{% url 'saving-goal' %}">Saving Goal</a>
    <a class="btn btn-secondary" href="{% url 'link-savings' %}">Link Saving Account</a>
    <a class="btn btn-secondary" href="{% url 'spending-vs-income' %}">Spending versus Income</a>
    <a class="btn btn-success" href="{% url 'home' %}">Finish</a>
  </div>
</div>

