<!-- templates/onboarding/saving-goal.html -->
{% extends 'base.html' %}

{% block title %}Onboarding{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <div class="card-title">
      <!-- TODO: Need to make a first and last name! -->
      <h2>30 Day Saving Goal<h2>
    </div>
    <div class="card-text">
      <p>A saving goal doesn't have to be big to be important.</p>
      <p>What would you like to save within the next 30 days for yourself or someone special in your life?</p>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
      </form>
      {% include 'onboarding/navbar.html' with next=next prev=prev %} 
    </div>
  </div>
</div>


{% endblock %}


