{% extends 'base.html' %}
{% load static %}

{% block title %}Account Edit{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class = "card">
    <div class = "card-body"> 
<form method="post">  
    {% csrf_token %}  
    {{ form.as_p  }}  
    <input type="submit" value="Save">  
</form>  
</div>
</div>
{% else %}
<div class="card">
	<div class="card-body">
		<div class="card-title">
			<h5>You are not logged in</h5>
		</div>
		<div class="card-text">
			<a class="btn btn-link" href="{% url 'login' %}">Login</a>
			<a class="btn btn-link" href="{% url 'signup' %}">Sign Up</a>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}