{% load static %}

<nav class = "navbar sticky-top navbar-light bg-light">
	<a class="nav-link" href="#"><img src="{% static 'budgetingapp/images/linked-accounts-icon.png' %}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"/>
	<span class="d-none d-lg-inline align-top">Accounts</span>
	</a>
	<a class="nav-link" href="#"><img src="{% static 'budgetingapp/images/resources-icon.png' %}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"/>
	<span class="d-none d-lg-inline align-top">Resources</span>
	</a>
	<a class="nav-link" href="#"><img src="{% static 'budgetingapp/images/home-icon.png' %}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"/>
	<span class="d-none d-lg-inline align-top">Home</span>
	</a>
	<a class="nav-link" href="#"><img src="{% static 'budgetingapp/images/budget-icon.png' %}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"/>
	<span class="d-none d-lg-inline align-top">Budget</span>
	</a>
	<a class="nav-link" href="#"><img src="{% static 'budgetingapp/images/icons8-person-64.png' %}"width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"/>
	<span class="d-none d-lg-inline align-top">User</span>
	</a>
</nav>
