{% extends 'base.html' %}
{% load static %}

{% block title %}Goals{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'budgetingapp/css/goals.css' %}" />
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h2>Goals<h2>
    </div>
    <div class="card-text">
      <form id="regForm" action="" method="post">
      {% csrf_token %}
      
      <!-- One "tab" for each step in the form: -->
      {{ form.non_field_errors }}
      <!-- Tab 1: Goal name -->
      <div class="tab">
        <h3>Let's Get Started on Your New Goal!</h3>
        <!-- 
        <p>
          { form.goal_name.errors }}
          { form.goal_name.label_tag }}
          { form.goal_name }}
        </p>
        -->
        <p>What type of goal is this?</p>
        <p>
          {{ form.goal_type.errors }}
          {{ form.goal_type.label_tag }}
          {{ form.goal_type }}
        </p>
      </div>
      <!-- Tab 2: Goal amount -->
      <div class="tab">
        <h3>Great Goal! Lets talk about that</h3>
        <p>
          {{ form.amount.errors }}
          {{ form.amount.label_tag }}
          {{ form.amount }}
        </p>
      </div>
      <!-- Tab 3: Goal target date -->
      <div class="tab">
        <h3>Great Goal! Lets talk about that</h3>
        <p>
          
          {{ form.end_date.errors }}
          {{ form.end_date.label_tag }}
          {{ form.end_date }}
        </p>
      </div>
      <!-- Tab 4: Goal reason -->
      <div class="tab">
        <h3>Great Goal! Lets talk about that</h3>
        <p>
          {{ form.goal_reason.errors }}
          {{ form.goal_reason.label_tag }}
          {{ form.goal_reason }}
        </p>
      </div>


      <div style="overflow:auto;">
        <div style="float:right;">
          <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
          <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
        </div>
      </div>
      
      <!-- Circles which indicates the steps of the form: -->
      <div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
      </div>

      </form> 
    </div>
  </div>
</div>
{% else %}
This is an unauthenticated user
{% endif %}
{% endblock %}

{% block scripts %}
{{ block.super }}
  <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
<script src="{% static 'budgetingapp/js/tabs.js' %}"></script>
<script src="{% static 'budgetingapp/js/goals.js' %}"></script>
{% endblock %}


